.landing-page-after-connect {
  align-items: center;
  background-color: var(--black-2);
  border: 1px none;
  display: flex;
  flex-direction: column;
  height: 1024px;
  overflow: hidden;
  position: relative;
  width: 1440px;
}

.image-of-items {
  align-items: flex-start;
  display: flex;
  gap: 46px;
  margin-left: 10.0px;
  margin-top: 55px;
  min-width: 1300px;
  padding: 0 0.0px;
}

.image-of-items-item {
  background-position: 50% 50%;
  background-size: cover;
  height: 140px;
  width: 224px;
}

.store-your-physical {
  -webkit-text-stroke: 1px var(--black);
  letter-spacing: 0;
  margin-left: 2.0px;
  margin-top: 92px;
  min-height: 491px;
  min-width: 1118px;
  text-align: center;
}

.span0 {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: 44px;
  font-weight: 400;
}

