.landing-page-before-connect {
  align-items: flex-start;
  background-color: var(--black-2);
  border: 1px solid;
  border-color: var(--black);
  display: flex;
  height: 1024px;
  overflow: hidden;
  position: relative;
  width: 1440px;
}

